*.pyc
.vscode/
models/
credentials.json
output/
output_images/
input_images/
.idea/
1.jpg
temp_input/
temp2_input/
predictions/
output_images/
output/
ocr_pan_output/
models/
libs/
input_images/
document_processors/PAN/ocr_pan_output
libs.zip
